body{
  background-color: #303030;
  background-size: cover;
}

.loginHeader{
  text-align: center;
  margin-bottom: 50px;
}

.loginHeader h1{
  font-size: 100px;
  color: #007aff;
  margin: 0px;
}

.loginHeader p{
  color: #ffdae3;
  font-size: 50px;
  margin: 0px;

}

.loginHeader p::after{
  content: '';
  display: block;
  height: 5px;
  background: #007aff;
  width: 50%;
  margin: 0 auto;
}

.loginBody form{
  margin: 0 auto;
  width: 500px;
  background: rgba(0,0,0,.5);
  padding: 50px;
  border: 2px solid #fff;
  border-radius: 8px;
}

.loginInputsContainer{
  margin-top: 20px;
}

.loginInputsContainer label{
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}